body {
    background-color: aliceblue;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark {
    align-self: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 2.5rem;
}

#logo {
    width: 15rem;
    /* background-color: white; */
}

.container-fluid {
    background-image: url(/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
}

span {
    margin-left: -15rem;
    color: rgb(0, 183, 255);
    cursor:pointer;
}

.input-div {
    border: 1px solid rgb(0, 183, 255);
    color: rgb(0, 183, 255);
    border-radius: 0.50rem;
    width: 20rem;
}


button {
    background-color: rgb(0, 183, 255);
    
    border-color: rgb(0, 183, 255);
    
    color: #FFFFFF;
    
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    width: 20rem;
}

#forget-pass {
    color: rgb(0, 183, 255);
    
    text-decoration: none;
}

footer {
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width:768px) {

    .login {
        width: 80%;
    }

    span {
        margin-left: -12rem;
    }

    .input-div {
        width: 15rem;
    }

    button {
        width: 15rem;
    }
}
