@using DataAccess.CustomModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CreatePatientReq";
}

@model PatientInfoModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/CreatePatientReq.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <title>Create Patient Request</title>
</head>

<body>
    <partial name="_navbar" />
    <div class="d-flex flex-column justify-content-between min-vh-100">
       

        <div class="container d-flex justify-content-between my-4">
            <h3>Patient Information</h3>
            <button onclick="location.href='@Url.Action("RequestScreen", "Patient")'" id="back-btn">&lt; Back</button>
        </div>


        <form method="post" enctype="multipart/form-data" class="container mb-5 p-4 shadow dark-mode1" id="main-cont">
            
            <div class="row">
                <h5 class="col-12">Patient Information</h5>
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea  asp-for="symptoms" class="form-control dark-mode1" placeholder="" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter Brief Details Of Symptoms (Optional)</label>
                        <span asp-validation-for="symptoms" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="firstName" type="text" class="form-control dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">First Name *</label>
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>
                   
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="lastName" type="text" class="form-control dark-mode1" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Last Name *</label>
                        <span asp-validation-for="lastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="dob" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control dark-mode1" id="floatingInput" placeholder="Date">
                        <label for="floatingInput">Date Of Birth *</label>
                        <span asp-validation-for="dob" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 ">
                    <h5>Patient Contact Information</h5>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="email" name="email" type="email" class="form-control dark-mode1" id="email" placeholder="name@example.com">
                        <label for="floatingInput">Email *</label>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="phoneNo" type="number"  class="form-control dark-mode1 p-3 ps-5">
                        
                    </div>
                    <span asp-validation-for="phoneNo" class="text-danger"></span>
                </div>
                <div id="passwordSection" class="col-12 col-md-6 " style="display:none">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="password" type="password" class="form-control dark-mode1" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Password *</label>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                </div>
                <div id="confirmPasswordSec" class="col-12 col-md-6" style="display:none">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="confirmPassword" type="password" class="form-control dark-mode1" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Confirm Password *</label>
                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Location</h5>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="street" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">Street</label>
                        <span asp-validation-for="street" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="city" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">City</label>
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="state" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">State *</label>
                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="zipCode" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">Zip Code</label>
                        <span asp-validation-for="zipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="roomNo" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">Room # / Suite (Optional)</label>
                        <span asp-validation-for="roomNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>(Optional) Upload Photo Or Document</h5>
                </div>
                <div class="col-12 mb-4">
                    <input asp-for="file" class="form-control form-control-lg dark-mode1" id="formFileLg" type="file" multiple >
                </div>
                <div class="col-12">
                    <button id="cancel" type="reset" class="btn my-2">Cancel</button>
                    <button id="submit" type="submit" class="btn m-2">Submit</button>
                </div>
            </div>

        </form>

    </div>

    <partial name="_footer" />

    <!-- script  -->
 

    <script>
        const phoneInputField = document.getElementById("phoneNo");
        
            const phoneInput = window.intlTelInput(phoneInputField, {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
      

        $('#email').focusout(function () {
       
            var email = $(this).val();
            if(email==""){
                return false;
            }
            $.ajax({
                url: '/Patient/CheckEmailExists',
                type: 'GET',
                contentType: 'application/json',
                data: { email: email },
                success: function (response) {
                    if (response.emailExists) {
                        $('#passwordSection').hide();
                        $('#confirmPasswordSec').hide();
                    } else {
                        $('#passwordSection').show();
                        $('#confirmPasswordSec').show();
                    }
                    $("#id").html(response);
                }
            });
        });
    </script>
</body>

</html>
