@using DataAccess.CustomModels;
@model BusinessReqModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/CreateBusinessPartnerReq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Create Business Partner Request</title>
</head>
<body>

    <partial name="_navbar" />

    <form method="post"  class="container shadow dark-mode1 my-5 p-4" id="main-cont">
        <button onclick="location.href='@Url.Action("RequestScreen", "Patient")'" id="back-btn">&lt; Back</button>

        <div class="row">
            <h5 class="col-12">Business Information</h5>

            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="firstName" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Your First Name *</label>
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="lastName" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Your Last Name</label>
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="phoneNo" type="number" class="form-control dark-mode1 p-3 ps-5" id="phone1">
                    <span asp-validation-for="phoneNo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="email" type="email" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Your Email *</label>
                    <span asp-validation-for="email" class="text-danger"></span>

                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="businessName" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Business/Property Name *</label>
                    <span asp-validation-for="businessName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="caseNo" type="number" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Case Number(Optional)</label>
                    <span asp-validation-for="caseNo" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <h5 class="col-12">Patient Information</h5>
            <div class="col-12 mb-3">
                <div class="form-floating">
                    <textarea asp-for="symptoms" class="form-control  dark-mode1" placeholder="" id="floatingTextarea2"
                              style="height: 100px"></textarea>
                    <label id="symptom-label" for="floatingTextarea2">Symptoms(Optional)</label>
                    <span asp-validation-for="symptoms" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="patientFirstName" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">First Name *</label>
                    <span asp-validation-for="patientFirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="patientLastName" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Last Name *</label>
                    <span asp-validation-for="patientLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="patientDob" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Date Of Birth *</label>
                    <span asp-validation-for="patientDob" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5>Patient Contact Information</h5>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="patientEmail" type="email" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Email *</label>
                    <span asp-validation-for="patientEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="patientPhoneNo" type="number"  class="form-control dark-mode1 p-3 ps-5" id="phone2">
                    <span asp-validation-for="patientPhoneNo" class="text-danger"></span>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5>Patient Location</h5>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="street" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Street</label>
                    <span asp-validation-for="street" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="city" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">City</label>
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="state" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">State</label>
                    <span asp-validation-for="state" class="text-danger"></span>

                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="zipCode" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Zip Code</label>
                    <span asp-validation-for="zipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="input-div form-floating mb-3">
                    <input asp-for="roomNo" type="text" class="form-control  dark-mode1" id="floatingInput" placeholder="">
                    <label for="floatingInput">Room # / Suite (Optional)</label>
                    <span asp-validation-for="roomNo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button id="cancel" type="reset" class="btn my-2">Cancel</button>
                <button id="submit" type="submit" class="btn m-2">Submit</button>
            </div>
        </div>
    </form>

    <partial name="_footer" />

    <partial name="RequestModal" />

    <script>
        const phoneInputField = document.getElementById("phone1");

        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        const phoneInputField2 = document.getElementById("phone2");

        const phoneInput2 = window.intlTelInput(phoneInputField2, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
</body>
</html>