@using DataAccess.CustomModels;
@model FamilyReqModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/CreateFamilyFrndReq.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Create Family Friend Request</title>
</head>

<body>
    <partial name="_navbar" />
    <div class="d-flex flex-column justify-content-between min-vh-100">


        <button onclick="location.href='@Url.Action("RequestScreen", "Patient")'" id="back-btn">&lt; Back</button>



        <form method="post" asp-controller="Patient" asp-action="AddFamilyRequest" class="container my-5 p-4" id="main-cont">

            <div class="row">
                <h5 class="col-12">Family/Friend Information</h5>

                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="firstName" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Your First Name</label>
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="lastName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Your Last Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="phoneNo" type="tel" name="phone" class="form-control p-3 ps-5" id="floatingInput">

                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="relation" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Relation With Patient</label>
                        <span asp-validation-for="relation" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <h5 class="col-12">Patient Information</h5>
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea asp-for="symptoms" class="form-control" placeholder="" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label id="symptom-label" for="floatingTextarea2">Symptoms(Optional)</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="patientFirstName" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">First Name</label>
                        <span asp-validation-for="patientFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="patientLastName" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Last Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="patientDob" type="date" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Date Of Birth</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Contact Information</h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="patientEmail" type="email" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Email</label>
                        <span asp-validation-for="patientEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="tel" asp-for="patientPhoneNo" name="phone" class="form-control p-3 ps-5" id="floatingInput">

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Location</h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="street" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Street</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="city" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">City</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="state" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">State</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="zipCode" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Zip Code</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="roomNo" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Room # / Suite (Optional)</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>(Optional) Upload Photo Or Document</h5>
                </div>
                <div class="col-12 mb-4">
                    <input class="form-control form-control-lg " id="formFileLg" type="file">
                </div>
                <div class="col-12">
                    <button id="cancel" type="reset" class="btn my-2">Cancel</button>
                    <button id="submit" type="submit" class="btn m-2">Submit</button>
                </div>
            </div>



            <partial name="RequestModal" />

 



        </form>

    </div>

    <partial name="_footer" />
   

    <script>
       


        const phoneInputField = document.querySelectorAll("input[type='tel']");
        for (var i = 0; i < phoneInputField.length; i++) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
        }
    </script>


</body>

</html>