<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/CreateFamilyFrndReq.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Create Family Friend Request</title>
</head>

<body>
    <partial name="_navbar" />
    <div class="d-flex flex-column justify-content-between min-vh-100">


        <button onclick="location.href='@Url.Action("RequestScreen", "Patient")'" id="back-btn">&lt; Back</button>



        <div class="container my-5 p-4" id="main-cont">

            <div class="row">
                <h5 class="col-12">Family/Friend Information</h5>

                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Your First Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Your Last Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="tel" name="phone" class="form-control" id="floatingInput"
                               placeholder="name@example.com">
                        <label for="floatingInput">Phone</label>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Relation With Patient</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <h5 class="col-12">Patient Information</h5>
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label id="symptom-label" for="floatingTextarea2">Symptoms(Optional)</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">First Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Last Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Date Of Birth</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Contact Information</h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="tel" name="phone" class="form-control phone" id="floatingInput" placeholder="">

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Location</h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Street</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">City</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">State</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Zip Code</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Room # / Suite (Optional)</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>(Optional) Upload Photo Or Document</h5>
                </div>
                <div class="col-12 mb-4">
                    <input class="form-control form-control-lg " id="formFileLg" type="file">
                </div>
                <div class="col-12">
                    <button id="cancel" type="reset" class="btn my-2">Cancel</button>
                    <button id="submit" type="submit" class="btn m-2">Submit</button>
                </div>
            </div>





            <button class="d-none" id="myBtn"></button>


            <div id="myModal" class="modal">


                <div class="modal-content d-flex flex-column justify-content-evenly align-items-center">

                    <img class="" id="info-icon" src="/images/info.png" alt="info">
                    <h5>Information</h5>
                    <p class="" id="info">
                        When submitting a request, you must provide the correct contact information
                        for the patient or the responsibility party. Failure to provide the correct email and phone
                        number will delay service or be declined.
                    </p>
                    <span class="close"><button class="btn btn-primary">OK</button></span>
                </div>

            </div>





        </div>

    </div>

    <partial name="_footer" />
    <!-- script  -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script>
        $(document).ready(function () {
            modal.style.display = "block";
        });
        function darkMode() {
            var e1 = document.body;
            e1.classList.toggle("dark-mode");

            const e2 = document.getElementById('navbar');
            e2.classList.toggle('dark-mode');

            const e3 = document.getElementById('footr');
            e3.classList.toggle('dark-mode');

            const e4 = document.getElementById('main-cont');
            e4.classList.toggle('dark-mode');


            if (e1.classList.contains('dark-mode')) {
                e2.style.backgroundColor = 'black';
                e3.style.backgroundColor = 'black';
                e4.style.backgroundColor = 'rgba(255, 255, 255, 0.884)';
                e4.style.color = 'black';



            } else {
                e2.style.backgroundColor = 'white';
                e3.style.backgroundColor = '';
                e4.style.backgroundColor = '';
                e4.style.color = ''

            }

            var img = e1.querySelector(".light")
            img.src.includes("dark") ? img.src = "../images/light.png" : img.src = "../images/dark.png";

        }


        var modal = document.getElementById("myModal");


        var btn = document.getElementById("myBtn");


        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        const phoneInputField = document.querySelector(".phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
</body>

</html>