
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<footer id="footr"  >
    <p>Terms of Conditions | Privacy Policy</p>
</footer>