
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<style>

    footer {
        text-align: center;
    }

        footer p {
            font-size: 0.75rem;
            float: right;
            padding: 1rem 1rem 0 0;
        }

    #footr {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgb(46, 44, 44);
        color: white;
        height: 3rem;
    }
</style>

<footer id="footr"  >
    <p>Terms of Conditions | Privacy Policy</p>
</footer>