
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<style>
    .dark-mode {
        background-color: rgb(46, 44, 44);
        color: white;
    }

    #navbar {
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    .light {
        width: 2rem;
        float: right;
        margin: 1.5rem;
    }

    nav {
        position: sticky;
        z-index: 5;
    }

    #nav-logo {
        width: 9rem;
        margin-left: 5rem;
    }

</style>

<nav id="navbar">
    <img id="nav-logo" src="/images/logo.png" alt="logo">
    <img onclick="darkMode()" class="light" src="/images/dark.png" alt="">
</nav>

<script>
    function darkMode() {
        var e1 = document.body;
        e1.classList.toggle("dark-mode");

        const e2 = document.getElementById('navbar');
        e2.classList.toggle('dark-mode');

        const e3 = document.getElementById('footr');
        e3.classList.toggle('dark-mode');

        const e4 = document.getElementById('main-cont');
        e4.classList.toggle('dark-mode');




        if (e1.classList.contains('dark-mode')) {
            e2.style.backgroundColor = 'black';
            e3.style.backgroundColor = 'black';
            e4.style.backgroundColor = 'rgba(255, 255, 255, 0.884)';
            e4.style.color = 'black';


        } else {
            e2.style.backgroundColor = 'white';
            e3.style.backgroundColor = '';
            e4.style.backgroundColor = '';
            e4.style.color = ''

        }

        var img = e1.querySelector(".light")
        img.src.includes("dark") ? img.src = "../images/light.png" : img.src = "../images/dark.png";



    }
</script>

