
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<nav id="navbar">
    <img id="nav-logo" src="/images/logo.png" alt="logo">
    <img onclick="darkMode()" class="light" src="/images/dark.png" alt="">
</nav>