<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-info text-light d-md-block d-none me-2" onclick="ShowScheduling()">
               Add Receipt
            </button>

        </div>
    </div>


    <div class="border rounded shadow p-3 bg-white dark-mode1">
        <div class="my-2 mb-3">

            <div class="d-flex justify-content-between align-items-center mb-3 mt-2">
              <table class="table table-hover">
                  <thead>
                        <tr>
                            <th scope="col" class="text-center">Date</th>
                            <th scope="col" class="text-center">Item</th>
                            <th scope="col" class="text-center">Amount</th>
                            <th scope="col" class="text-center">Bill</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                            <td class="text-center">03/01/2024</td>
                            <td class="text-center">Medicines</td>
                            <td class="text-center">10</td>
                            <td class="text-center">dummy_test_file</td>
                            <td class="text-center"></td>
                        
                        </tr>
                  </tbody>
              </table>
             
            </div>

            <div id="matched-events" class="row my-2">

                No records found

            </div>

        </div>



    </div>
</div>
