
<div class="container d-flex flex-column align-items-center mt-5">
    <i class="bi bi-x-circle-fill" style="color:red ; font-size:100px"></i>
    <h1 class="text-center">Access Denied</h1>
    <h3>You dont have permission to view this site.</h3>
    <h3>🚫🚫🚫🚫</h3>
    <h6 >error code:403 forbidden</h6>
</div>